<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">universidad Stack CRUD</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/estudiantes-list">View Estudiantes</a>
  </nav>
  <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/create-estudiante">Add Estudiantes</a>
</div>
<br><br><br>

<img class="rounded mx-auto d-block transpa-bg "  width = "90%" style="width: 1250px;" src="https://scontent.fbog11-1.fna.fbcdn.net/v/t1.6435-9/246735942_3062352724048246_5028029231039822296_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_eui2=AeH_52qLdnJgrMcWiujLthJOAyIDjaWGuqkDIgONpYa6qdLuamRWEg5eTMJRxUSunTHuNZHSVcDdGMzixe-1k4Ie&_nc_ohc=CEhGeuIwLe8AX-kFXJ_&_nc_ht=scontent.fbog11-1.fna&oh=b8c70eaeeeda48fd8e31409a107b2e09&oe=61992FC9"/>

<router-outlet></router-outlet>
